# Секретные ключи и пароли
.env

# Виртуальное окружение (весит очень много)
venv/
env/

# База данных
db.sqlite3

# Медиафайлы (картинки шаблонов)
media/

# Кэш питона (системный мусор)
__pycache__/
*.pyc