# Секретные ключи и пароли
.env
.env.*
!.env.example

# Виртуальное окружение
venv/
env/
.venv/

# База данных
db.sqlite3

# Медиафайлы
media/

# Static collectstatic output
staticfiles/

# Кэш питона
__pycache__/
*.py[cod]
*$py.class

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db